
// Theme base colors

$CT-yellow-dark: #333652;
$CT-yellow-light: #E9EAEC;
$CT-yellow-lightSecondary: #90ADC6;
$CT-yellow-accent: #FAD02C;

$CT-blue-dark: #146C94;
$CT-blue-light: #F6F1F1;
$CT-blue-lightSecondary: #AFD3E2;
$CT-blue-accent:  #19A7CE ;
* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
};

.fixed-bar {
 position: fixed !important;
 height: 60px;
 width: 100%;
 z-index: 100;
}
.margin-top-bars {
  margin-top: 60px;
}
.margin-bottom-bars {
  margin-bottom: 60px;
}

.left-0 {
  left: 0;
}
 
h2 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: blue;
}

hr {
  opacity: 1 !important;
}

.fixed-size {
  height: 240px;
  width: 180px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 1rem;

}

.z-10{
  z-index: 10;
}
.sidebar {
  width: 100%;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
}

// Utility classes
.v-align-unset {
  vertical-align: unset !important;
}
.c-pointer {
  cursor: pointer !important;
}
.p-inherit {
  padding: inherit !important;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";

.gradient-border {
  background: linear-gradient(#E9EAEC, #E9EAEC) 50% 50%/calc(100% - 7px) calc(100% - 7px) no-repeat,
  linear-gradient(109deg, $CT-yellow-accent 10%, rgba(80, 160, 203, 0) 80%);
  border-radius: 3px;
  box-sizing: border-box;
}

.border-gradient-title {
  
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(165deg, $CT-yellow-accent 10%, rgba(0,0,0,0) 20%);
  border-bottom: 0;
}
.border-gradient-body {

  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(165deg, $CT-yellow-accent 55%, rgba(0,0,0,0) 65%);
}


.cv-section {
  h2 {
    display: block;
    // font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  

}

.toast-style{
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;

}


.fs-h1-top-normalize {
  line-height: calc(1.375rem + 0.5vw);
}

// .cv-section.ct-yellow {
//   h2 {
//     color: $accent;
//   }
//   h3{

//   }
//   h4{
//     color: $accent;
//   }
//   p{

//   }
//   {

//   }
// }
// .cv-section.ct-blue {
//   h2 {
//     color: $accent;
//   }
//   h3{

//   }
//   h4{
//     color: $accent;
//   }
//   p{

//   }
// }

@include media-breakpoint-up(xs) { 
  .cv-photo {
     max-width: 12rem;
  }
  .d-flex-xs {
    display: flex !important;
  }
  .d-block-xs {
    display: block !important;
  }
  .justify-content-center-xs {
    justify-content: center !important;
  }
  .justify-content-normal-xs {
    justify-content: normal !important;
  }
 }



@include media-breakpoint-up(sm) { 
  .cv-photo{
    width: 100%;
    max-width: none;
 }
 .d-flex-sm {
   display: flex !important;
 }
 .d-block-sm {
   display: block !important;
 }
  .justify-content-center-sm {
    justify-content: center !important;
  }
  .justify-content-normal-sm {
    justify-content: normal !important;
  }
 }
 
@include media-breakpoint-down(md) {
  .p-0-md-down { padding: 0; }
}
 
@include media-breakpoint-up(md) { 
  .d-flex-md {
    display: flex !important;
  }
  .d-block-md {
    display: block !important;
  }
  .justify-content-center-md {
    justify-content: center !important;
  }
  .justify-content-normal-md {
    justify-content: normal !important;
  }

 }


@include media-breakpoint-up(lg) { 
  .d-flex-lg {
    display: flex !important;
  }
  .d-block-lg {
    display: block !important;
  }
  
  .justify-content-center-lg {
    justify-content: center !important;
  }
  .justify-content-normal-lg {
    justify-content: normal !important;
  }
 }

 
@include media-breakpoint-up(xl) { 
  .d-flex-xl {
    display: flex !important;
  }
  .d-block-xl {
    display: block !important;
  }
  .justify-content-center-xl {
    justify-content: center !important;
  }
  .justify-content-normal-xl {
    justify-content: normal !important;
  }
 }

//  @page {
//   margin: 1in; // margin for each printed piece of paper
// }

// @page :first {
//   margin-top: 2in; // top margin for first page of paper
// }
.special_canvas{width: 100% !important; height: auto !important;}


@media print {
  // body{
  //   background-color: #000;
  // }
  .print-container{    
    // box-shadow: inset 0 0 0 1000px gold;

  }
  
  // @page {
  //   margin: 0;
  //   background-color: red !important;
  //   color:red !important;
  //   color-adjust: exact !important; 
  //   -webkit-print-color-adjust: exact !important;
  //   print-color-adjust: exact !important;
  // }
  
  // body {
  //   // margin: 0; // 
  //   // padding-top:2.5cm;
  //   // padding-bottom:2.5cm;
  //   // height:auto;
  //   // background-color: yellow;
  //   margin: 0;
  //   padding: 0;
  //   height: 100%;

  //   // -webkit-print-color-adjust:exact !important;
  //   // print-color-adjust: exact !important;
  //   // color-adjust: exact!important;  
  // }
   
  // @page {
  //   size: auto;
  //   -webkit-print-color-adjust:exact !important;
  //   print-color-adjust: exact !important;
  //   color-adjust: exact!important;  
  //   // margin-top: 12mm;
  //   // margin-bottom: 12mm;
  // }
  
  /* Hide headers and footers */
  header, footer {
      display: none;
  }
  h1, .h1 {font-size: 16px !important};
  h2, .h2 {font-size: 14px !important};
  h3, .h3 {font-size: 13px};
  h4, .h4 {font-size: 12px};
  p,  .p  {font-size: 12px};
 .mediaSize {font-size: 10px}

 
  .col-md-6{width: 50%;}
  
}

